<launch>
 <machine name="qat" address="172.20.10.3" user="qazal" password="ghaz13781390" env-loader="../cabinet_WebApp/pc_env.sh"/>
    <machine name="pi" address="172.20.10.4" user="pi" password="ghaz13781390" env-loader="/home/pi/parrot_env.sh"/>
    <group ns="qat">
        <node machine="qat" pkg="commute" name="commander" type="commander.py" outpu="screen"></node>
        <node machine="pi" name="communication" pkg="commute" type="communication.py" respawn="true" output="screen"></node>
    </group>
    <group ns="pi">
        <node machine="pi" pkg="audio_player" type="audio_player.py" name="audio_player" output="screen"></node>
    </group>

</launch> 
